{
    "presets": ["es2015", "env", "stage-0"],
    "plugins": [
        // [
        //     "component",
        //     {
        //         "libraryName": "element-ui",
        //         "styleLibraryName": "theme-chalk"
        //     }
        // ],
        [
            "transform-runtime",
            {
              "helpers": false,
              "polyfill": false,
              "regenerator": true,
              "moduleName": "babel-runtime"
            }
        ],
        ["transform-decorators-legacy"]
    ]
}